@import "tailwindcss";

[class*="--nextra-content-width"] {
  max-width: none;
}

[class*="--nextra-content-width"] > article {
  padding: 0;
}

[class*="--nextra-content-width"] > article > div:nth-of-type(2) {
  margin: 0;
}
