name: 'Auto Assign'
on:
  pull_request:
    types: [opened, ready_for_review, reopened]

jobs:
  add-default-assignee:
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@a6d59add3a817df08cafa9b166367768d2c337f8 # v2.0.1
        with:
          configuration-path: '.github/actions/auto-assign-config.yml'