name: Examples

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: build
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Setup
        uses: ./.github/actions/setup
      - name: Build
        run: yarn prebuild && yarn build
        working-directory: ./examples/react
